<ul>
  <li><%= "Отправление: #{trip.start_time}" %></li>
  <li><%= "Прибытие: #{(Time.strptime(trip.start_time, '%H:%M') + trip.duration_minutes.minutes).strftime('%H:%M')}" %></li>
  <li><%= "В пути: #{trip.duration_minutes / 60}ч. #{trip.duration_minutes % 60}мин." %></li>
  <li><%= "Цена: #{trip.price_cents / 100}р. #{trip.price_cents % 100}коп." %></li>
  <li><%= "Автобус: #{trip.bus.model} №#{trip.bus.number}" %></li>
  <li>Сервисы в автобусе:</li>
  <ul>
    <%= render partial: 'service', collection: trip.services.pluck(:name) %>
  </ul>
</ul>
<span>====================================================</span>
