<ul>
  <li><%= "Отправление: #{trip.start_time}" %></li>
  <li><%= "Прибытие: #{trip.arrive_at}" %></li>
  <li><%= "В пути: #{trip.travel_time}"%></li>
  <li><%= "Цена: #{trip.formatted_price}" %></li>
  <li><%= "Автобус: #{trip.bus_info}" %></li>
  <li>Сервисы в автобусе:</li>
  <% if trip.bus_services.present? %>
    <ul>
      <%= render partial: 'service', collection: trip.bus_services %>
    </ul>
  <% end %>
</ul>
