<h1>
  <%= "Автобусы #{@from.name} – #{@to.name}" %>
</h1>
<h2>
  <%= "В расписании #{@trips.length} рейсов" %>
</h2>

<% @trips.each do |trip| %>
  <ul>
    <li><%= "Отправление: #{trip.start_time}" %></li>
    <li><%= "Прибытие: #{trip.arrival_time}" %></li>
    <li><%= "В пути: #{trip.travel_time.first}ч. #{trip.travel_time.last}мин." %></li>
    <li><%= "Цена: #{trip.prices.first}р. #{trip.prices.last}коп." %></li>
    <li><%= "Автобус: #{trip.bus.model} №#{trip.bus.number}" %></li>
    <% if trip.bus.services.present? %>
      <li>Сервисы в автобусе:</li>
      <ul>
        <% trip.bus.services.each do |service| %>
          <li><%= service.name %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>
  ====================================================
<% end %>
