<h1>
  <%= "Автобусы #{@from.name} – #{@to.name}" %>
</h1>
<h2>
  <%= "В расписании #{@trips.size} рейсов" %>
</h2>

<% @trips.each do |trip| %>
  <ul>
    <%= render "trip", trip: trip, cached: true %>
    <% if trip.bus.services.load.any? %>
      <%= render "services", services: trip.bus.services, cached: true %>
    <% end %>
  </ul>
  <%= render "delimiter", cached: true %>
<% end %>
