<h1>
  <%= "Автобусы #{@from.name} – #{@to.name}" %>
</h1>
<h2>
  <%= "В расписании #{@trips_count} рейсов" %>
</h2>
<%= paginate @trips %>
<%= render partial: "trip", collection: @trips%>
<%= paginate @trips %>
