<h1>
  <%= "Автобусы #{@from_name} – #{@to_name}" %>
</h1>
<h2>
  <%= "В расписании #{@trip_count} рейсов" %>
</h2>

<% @trips.each do |trip| %>
  <ul>
    <%= render "trip", trip: trip %>
    <% if trip.bus.services.load.any? %>
      <%= render "services", services: trip.bus.services %>
    <% end %>
  </ul>
  <%= render "delimiter" %>
<% end %>
