<h1>
  <%= "Автобусы #{params[:from]} – #{params[:to]}" %>
</h1>
<h2>
  <%= "В расписании #{@trips.size} рейсов" %>
</h2>

<% @trips.each do |trip| %>
  <ul>
    <%= render "trip", trip: trip %>
    <% if trip.bus.services.present? %>
      <%= @bus_partials[trip.bus.id].html_safe %>
    <% end %>
  </ul>
  ====================================================
<% end %>
<%= paginate @trips %>
