<h1>
  <%= "Автобусы #{@from.name} – #{@to.name}" %>
</h1>
<h2>
  <%= "В расписании #{@trips.count} рейсов" %>
</h2>

<% @trips.each do |trip| %>
  <ul>
    <%= render "trip", trip: trip %>
    <% if @buses[trip.bus_id].services.present? %>
      <%= render "services", services: @buses[trip.bus_id].services %>
    <% end %>
  </ul>
  <%= render "delimiter" %>
<% end %>
