<h1>
  <%= "Автобусы #{@from.name} – #{@to.name}" %>
</h1>
<h2>
  <%= "В расписании #{@trips.load.size} рейсов" %>
</h2>

<% @trips.each do |trip| %>
  <ul>
    <li><%= "Отправление: #{trip.start_time}" %></li>
    <li><%= "Прибытие: #{(trip.start_time + trip.duration_minutes.minutes).strftime('%H:%M')}" %></li>
    <li><%= "В пути: #{trip.duration_minutes / 60}ч. #{trip.duration_minutes % 60}мин." %></li>
    <li><%= "Цена: #{trip.price_cents / 100}р. #{trip.price_cents % 100}коп." %></li>
    <li><%= "Автобус: #{trip.bus.model} №#{trip.bus.number}" %></li>

    <% services = trip.bus.services %>
    <% if services.any? %>
      <li>Сервисы в автобусе:</li>
      <ul>
        <% services.each do |service| %>
          <li><%= "#{service.name}" %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>
  ====================================================
<% end %>
