<h1>
  <%= "Автобусы #{@from.name} – #{@to.name}" %>
</h1>
<h2>
  <%= "В расписании #{@trips.count} рейсов" %>
</h2>

<% @trips.each do |trip| %>
  <ul>
    <li><%= "Отправление: #{trip.start_time}" %></li>
    <li><%= "Прибытие: #{(Time.parse(trip.start_time) + trip.duration_minutes.minutes).strftime('%H:%M')}" %></li>
    <li><%= "В пути: #{trip.duration_minutes / 60}ч. #{trip.duration_minutes % 60}мин." %></li>
    <li><%= "Цена: #{trip.price_cents / 100}р. #{trip.price_cents % 100}коп." %></li>
    <li><%= "Автобус: #{trip.bus.model} №#{trip.bus.number}" %></li>

    <% if trip.bus.services.present? %>
      <li>Сервисы в автобусе:</li>
      <ul>
        <% trip.bus.services.each do |service| %>
          <li><%= "#{service.name}" %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>
  ====================================================
<% end %>
